[Desktop Entry]
Type=Application
Name=Yazi
GenericName=File Manager
Comment=Blazing fast terminal file manager
Exec=kitty --class yazi-fm -e yazi %f
Icon=utilities-terminal
Terminal=false
Categories=System;FileTools;
MimeType=inode/directory;
Keywords=file;manager;explorer;terminal;
StartupNotify=true
